/* RESETS */

* {
    margin: 0;
    padding: 0;
    /* border: 1px dotted black; */
    box-sizing: border-box
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

/* GLOBALS */

html, body {
    height: 100%;
    width: 100%;
    color: rgb(92, 92, 92);
    background-color: rgb(250, 250, 250);
    margin: 0 auto;
    font-family: 'Titillium Web', sans-serif;
    scroll-behavior: smooth;
}

h1 {
    font-weight: 700;
    font-size: 5em;
}

h2 {
    font-weight: 400;
    font-size: 2em;
}

h3 {
    font-size: 1.5em;
}

b {
    font-weight: 900;
}

.row, .column {
    display: flex;
    flex-wrap: wrap;
}

.column {
    flex-direction: column;
    flex-wrap: nowrap;
}

.y-center {
    align-items: center;
}

.x-center {
    justify-content: center;
}

.split {
    justify-content: space-around;
}

.sticky {
    position: fixed;
    z-index: 1;
    top: 0;
}

.work-img-container {
    margin: 0 20px;
}

.work-img-container img {
    margin: 10px;
}

.text-col {
    flex-wrap: wrap;
    flex: 0 0 auto;
    width: 300px;
}

.blue-box {
    color: rgb(250, 250, 250);    
    height: 900px;
    background-color: rgb(73, 109, 177);
    clip-path: polygon(0 10%, 37% 0, 100% 10%, 100% 90%, 63% 100%, 0 90%);
}

.white-box {
    height: 900px;
}

section h2, h3 {
    text-align: center;
}

.icons {
    font-size: 7em;
    text-align: center;
}

/* Custom */
 .jumbotron {
    color: rgb(250, 250, 250);
    background-image: url(./assets/images/Lee.svg);
    background-color: rgb(73, 109, 177);
    background-blend-mode: overlay;
    background-repeat: no-repeat;
    background-position-x: 70%;
    background-position-y: 240%;
    background-size: 70vh;
    height: 95vh;
    clip-path: polygon(0 0, 100% 0, 100% 90%, 63% 100%, 0 90%);
    /* -webkit-clip-path: polygon(0 0%, 100% 0%, 100% 96%, 0% 100%); */
	/* clip-path: polygon(0 0%, 100% 0%, 100% 100%, 0% 96%); */
}

.jumbo-text {
    height: 80vh;
}

.nav {
    flex-wrap: nowrap;
    width: 100vw;
    color: rgb(250, 250, 250);
    background-color: rgb(73, 109, 177);
}

.nav li {
    text-align: center;
    min-width: 10%;
}

.hiei {
    background-image: url("./assets/images/hiei.jpg");
    background-repeat: no-repeat;
    background-color: rgb(250, 250, 250);
    background-blend-mode: soft-light;
    background-position: center 0;
    background-size: cover;
}

.hiei div:first-child {
    margin-top: 150px;
}



@media screen and (max-width: 768px) {
    h1 {
        font-size: 4em;
    }
    .nav {
        justify-content: space-around;
    }
    .blue-box, .white-box {
        height: 1400px;
    }
    .icons {
        font-size: 4em;
    }
    /* ensure image then text on mobile for projects */
    section.white-box>div>div:nth-child(2) {
        order: -1;
    } 
}